
  <img style="margin-left: 55px; margin-top: 80px; border-radius: 150px;" src="<%= bot.user.avatarURL() %>">

 <!-- <p class="neon" style="margin-left: 60px; margin-top: 30px; font-family: 'Quicksand', black; color: #0561ff; font-size: 30px;"><%= bot.user.username %></p> -->  
<br><br>
   <div style="margin-left: 360px; margin-top: -190px;">

     <p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><font> EKSTRA</font> </p> </a>
     
      <a href="/"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-home"></i> Anasayfa</p> </a>
  
    <a href="/panel"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fas fa-tachometer-alt"></i> Dashboard</p> </a>

     <a href="/discord"><p style="font-family: 'Quicksand', black; color: #fff; font-size: 20px;"><i style="color: #0561ff;" class="fab fa-discord"></i> Discord</p> </a>

</div>

<!--
   <br>

 <style>



 </style>
-->